<h1 class="text-center">Task Dashboard</h1>

<ul class="list-group mb-4">
  <li class="list-group-item">
    <strong>Name:</strong> {{name}}
  </li>
  <li class="list-group-item"><strong>Email:</strong> {{email}}</li>
</ul>