<div class="jumbotron mt-2">
  <h1 class="display-4">Welcome to SecureApp</h1>
  <p class="lead">A web app built with security in mind. Comes with encryption, security headers, logging, CAPTCHA and
    input validation/sanitizing as standard.
  </p>
  <hr class="my-4">
  <p>Full control over account details including password updates and details.</p>
  {{#unless loggedIn}}
  <a class="btn btn-primary btn-lg" href="/signup" role="button">Create an account</a>
  {{/unless}}
</div>